.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif, Arial, Helvetica;
}

.char-pic {
  width: 100%;
}

.game-information {
  display: flex;
}

.char-pic-row {
  display: flex;
}

.img-column {
  flex-basis: 25%;
}

.dk-card {
  display: flex;
}

.mario-card {
  display: flex;
}
