.row {
  display: flex;
  margin-top: 30px;
}

.column-full {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  line-height: 30px;
  max-width: 700px;
  margin: auto;
}

h1 {
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 10px;
}

h3 {
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: 700;
}

p {
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.content-container {
  display: flex;
  justify-content: center;
  max-width: 1130px;
  margin: auto;
}

.left-column,
.right-column {
  display: flex;
  line-height: 30px;
}

.text-box {
  margin-top: 20px;
  padding-right: 90px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  border: 2px solid;
  background-color: white;
  border-color: red;
  color: red;
  width: 250px;
  height: 50px;
  font-family: Karla, sans-serif;
  font-weight: 700;
  font-size: medium;
}
